
form {
    text-align: center;
}
input {
    background-color: #F8F7E6;
    border-radius: 7px;
}
::placeholder {
    color: #F8A093;
    text-align: center;
}
.btn:hover {
    background-color: #F8F7E6;
}