input {
    background-color: #F8F7E6;
    border-radius: 7px;
    color: #2B0702;
}
form {
    color: #2B0702;
    background-color: #F8A093;
    border-radius: 15px;
    margin: 15px;
    padding: 15px 0 15px 0;
}
.textfield {
    border-color: #2B0702;
}
.submit {
    margin-top: 10px;
}
#add {
    color: #2B0702;
}