.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  background-color: #F8A093;
  overflow: hidden;
  background-image: url('chirpnet_logo_final.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  z-index: 1;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #2B0702;
  background-color: #F8A093;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}
#user {
  display: flex;
  align-self: flex-start;
  margin: 20px;
}
.menu {
  color: #2B0702;
  position: absolute;
  background-color: #F8A093;
  border-radius: 0 0 15px 15px;
}
.menuitem {
  color: #2B0702;
  margin: 15px;
  /* background-color: #F8A093; */
}